@page "/intro"



<h1>Welcome to Itahari International College</h1>

<img src="images/college.png"
     alt="Ithari International College"
     width="300" />

<p>
    Ithari International College is committed to providing quality education
    and practical skills to prepare students for the global job market.
</p>
